  $textwhite: #FFFFFF;
  $lightwhite: #999999;
  $submitgray: #434A54;
  $titleblack: #333333;
  $lightnavy: #2f3e51;
  $bordercolor: #eeeeee;
  $green: #38AEF0;
  $whitegray: #AAAAAA;
  $navy: #253141;




  $headerheight: 100px;

  $sidewidth: 300px;

  $mainwidth: calc(100vw - 300px);
  $mainheight: calc(100% - 200px);

  $footerwidth: calc(100% - 300px);
  $footerheight: 100px;


