  $userName: #FFFFFF;
  $idName: #999999;
  $text: #434A54;
  $title: #333333;
  $gray: #2f3e51;
  $bordercolor: #eeeeee;
  $green: #38AEF0;
  $whitegray: #AAAAAA;
  $naby: #253141;

  $headerheight: 100px;
  $sidewidth: 300px;
  $mainwidth: calc(100% - 300px);
  $footer


